* {
  box-sizing: border-box;
}

html {
  font-size: 18.66px;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

/*
  * ----------------
  * Color Variables
  * ----------------
*/
:root {
  --main: #494949;
  --secondary: #ECE8D9;
  --tertiary: #FFFDF6;
  --accent: #4B6587;
  --accentRGB: 75, 101, 135;
}

/*
  * -----------
  * Typography
  * -----------
*/
/* ? Heading font */
/* * font-family: 'Titillium Web', sans-serif; */
h1, legend, button,
.contact-option input:focus {
  font-family: 'Titillium Web', sans-serif;
}

/* ? Body font */
/* * font-family: 'IBM Plex Sans', sans-serif; */
p, label, input, textarea, #copyright {
  font-family: 'IBM Plex Sans', sans-serif;
}

p {
  margin: 0;
}


/* * Header styles */
header {
  text-align: center;
}

h1 {
  background-color: var(--accent);
  margin: 0;
  padding: 1.5rem .5rem;

  font-size: clamp(1.7rem, 3.5vmax, 6rem);
  text-transform: uppercase;
  color: white;
}

.signup-announcement {
  padding: 1rem;
}

.signup-announcement p {
  margin: 0;
}

header p {
  color: var(--accent);
}

header p.bold {
  padding: 0 0 .5rem;
  font-family: 'Titillium Web', sans-serif;
}

header p.bold,
legend {
  font-size: clamp(1.1rem, 2vmax, 4rem);
  font-weight: 700;
  color: var(--accent);
}

legend {
  width: 100%;
  margin-top: .25rem;
  padding: .5rem 0 0; 
  border-top: 2px solid var(--accent);
}

label {
  font-size: 15px;
}

/* * Main Body styles */
.signup-announcement {
  width: min(calc(100% - 1rem), 600px);
  margin-inline: auto;
  border-bottom: 3.5px solid var(--accent);
}

.container {
  padding: 0 .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: min(100%, 600px)
}

fieldset {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0 0 1rem;
}

#contact_fieldset {
  display: flex;
  flex-direction: column;
}

#contact_fieldset label {
  display: block;
  padding: 0 0 .25rem .1rem;
}

.contact-option {
  margin: 2vh 0 0;
}

.contact-option input,
.contact-option select {
  width: 100%;
  min-height: 50px;
  padding: .25rem .75rem;
}

.contact-option input {
  border: none;
  border-radius: 5px;
  background-color: var(--secondary);
}

.contact-option input::placeholder {
  text-align: right;
  padding-right: .5rem;
  font-style: italic;
  opacity: .7;
}

.contact-option input:hover,
.contact-option input:focus {
  outline: .1em solid var(--accent);
  outline-offset: 1px;
}

.contact-option input:focus {
  background-color: var(--tertiary);
  font-weight: 400;
}

#state {
  padding-top: .75rem;
  font-size: 16px;
}

#zip {
  width: auto;
}

#option_fieldset .option-flex {
  display: flex;
  flex-direction: column;
}

.instructions {
  padding: 1rem 0 .25rem;
}

.input_wrap {
  padding: .5rem 0 .5rem .25rem;
  min-height: 50px;
}

.input_wrap label {
  padding: .25rem .5rem;
  transition: ease-in-out .1s;
  border-radius: 5px;
}

.input_wrap label:hover,
.input_wrap label:focus {
  background-color: var(--accent);
  color: white;
  font-family: 'Titillium Web', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

textarea {
  background-color: var(--secondary);
  min-width: 100%;
  min-height: 125px;
  padding: .25rem .5rem;
  border-radius: 5px;
  font-style: italic;
}

textarea:focus,
textarea:hover {
  background-color: var(--tertiary);
}

textarea:focus {
  outline: .2em solid var(--accent);
  outline-offset: 2px;
}

button {
  width: 100%;
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
  min-height: 65px;
  font-size: 18px;
  color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

  transition: ease-in-out .1s;
}

button:hover,
button:focus {
  animation: accentBubble 1.5s infinite;
}

#copyright {
  margin-top: 2rem;
  padding: 0 0 2rem;
  text-align: center;
  opacity: .8;
  font-size: 16px;
  font-style: italic;
}

/*
  * --------------
  * Media Queries
  * --------------
*/  

@media screen and (min-width: 768px) {
  body {
    background-color: var(--accent);
  }

  .signup-announcement,
  .container {
    width: min(100%, calc(600px + 2rem));
    margin: 0 auto;
    background-color: white;
  }

  .signup-announcement {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .container {
    padding: .5rem 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  legend {
    padding: 1.5rem 0 1rem;
  }

  #contact_fieldset legend {
    border: none;
  }

  #contact_fieldset label {
    display: flex;
    align-items: center;
    text-align: left;

  }

  .contact-option {
    display: flex;
    margin: 1vh 0;
  }

  .contact-option label {
    min-width: 150px;
  }

  .contact-option input {
    width: 100%;
  }

  .contact-option input [placeholder] {
    text-align: right;
  }

  #district-container,
  #district-container .contact-option {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #district-container .contact-option {
    width: 50%;
    justify-content: flex-start;
  }

  #district-container .contact-option label {
    min-width: 100px;
    padding-right: 1rem;
  }

  #state {
    width: 100%;
    padding-top: .25rem;
    margin-right: .25rem;

  }

  #zip {
    width: 100%;
  }

  #copyright {
    color: white;
  }
}

@keyframes accentBubble {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(var(--accentRGB), 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(var(--accentRGB), 0);
  }
  
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(var(--accentRGB), 0);
  }
}